*{
    font-family: Arial, Helvetica, sans-serif;
   
}

:root{
    --light-yellow: rgb(255, 236, 126);
    --light-gray:#ddd6d62b;

    --font-size-header: 60px;
    --font-size-secondary-header: 40px;
}

input[type=search]::-ms-clear {
    display: none;
}

input[type=search]::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
}

a{
    text-decoration: none;
    color: unset;
}

.header{
    padding-top: 30px;
    padding: 30px 3vw 0 3vw;
    text-align: center;
    background-color:#ddd6d62b;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__text{
    font-size: var(--font-size-header);
}

.button__create--note{
    background-color: var(--light-yellow);
    text-wrap: nowrap;
}

.button__create--note:hover {
    background-color: rgb(255, 217, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button__create--note::before {
    content: "";
    display: inline-block;
    width: 25px;
    aspect-ratio: 1;
    margin-right: 15px;
    background: url(/icons/icons8-create.svg) no-repeat center;
}

main{
    margin:0 100px 0 17vw;
    padding-top: 5vh;
}

.my-notes{
    margin-top: 10vh;
}

.heading__text{
    font-size: var(--font-size-secondary-header);
}

.notes-wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 25vw;
}

.notes__card{
    width:clamp(150px,40vw,800px);
    height: fit-content;
    width: 100%;
    padding: 10px 10px;
    border-radius: 15px;
    transition: all 1s;
    margin-top: 20px;
    word-wrap: break-word;
    background-color: #ddd6d62b;
}


.notes__card:hover {
    transform: rotateX(25deg)
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /* Black w/ opacity */
    z-index: 1000;
    background: rgba(255, 255, 255, 0.2);
        /* прозорий білий фон */
    backdrop-filter: blur(10px);
}

.modal-content--create-note {
    background-color: #ffffff;
    margin: 20vh auto;
    padding: 20px 20px;
    height: auto;
    border: 1px solid #888;
    width: 80%;
    border-radius: 20px;
}

.modal-content--create-note input,.modal-content--create-note textarea{
    display: block;
    resize: vertical;
    max-width: 100%;
    width: 100%;
    border: none;
    margin: 15px 0;
    min-height: 50px;
    border-bottom: 2px solid black;
    outline: none;
    height: fit-content;
}

.modal-content--create-note button{
 max-width: 200px;
 width: 100%;
 height: 50px;
 border-radius: 10px;
 border: none;
 background-color: var(--light-yellow);
}

.modal-content--create-note button:hover {
    background-color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    transform: translateY(5px);
}

.close{
    color: #000000;
    float: right;
    font-size: 50px;
    cursor: pointer;
    transition: all 1s;
    margin-right: 20px;
    margin-bottom: 5px;
}

.close:hover {
    transform: rotate(360deg);

}

.active{
    display: block;
}

.non-active {
    transform: translateX(-600px);
    visibility: hidden;
}


.button__delete--note{
    display: inline-block;
    width: 25px;
    aspect-ratio: 1;
    background: url(/icons/delete.svg) center / cover no-repeat;
    cursor: pointer;
}

.button__clear--notes{
    padding: 10px 15px;
    cursor: pointer;
    text-wrap: nowrap;
}

.button__clear--notes::before {
    content: "";
    display: inline-block;
    width: 25px;
    aspect-ratio: 1;
    background: url(/icons/trash.png) no-repeat center;
    margin-right: 15px;
}

#select-theme{
    outline: none;
    border: none;
}

#search-note{
    padding: 10px 25px;
    width: 33vw;
    font-size: 18px;
    outline: none;
    border-radius: 15px;
    padding-left: 15px;
}

.search{
    position: relative;
    width: fit-content;
}

.search-results {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 10px 10px;
    z-index: 999;
    display: none;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
}

.search-results li:hover {
    background-color: #f0f0f0; }

.icon-search{
    position: absolute;
    top: 10px;
    right: 8px;
    display: inline-block;
    width: 25px;
    aspect-ratio: 1;
    background: url(../icons/icons8-search.svg) center/cover no-repeat;
}

.notes-layout{
    display: flex;
    justify-content: space-between;
}
.shifted {
    transition: all 1s;
    margin-left: -15vw;
}

.aside-menu{
    position: fixed;
    width: 15vw;
    top: 0;
    left: 0;
    height: 100%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    transition: all 1.5s ease;
}

.aside-menu > * {
    padding: 15px;
}

.aside-menu> *:hover {
    border-left:5px solid black ;
}

.note__view{
    width: 65%;
    height: 100%;
    min-height: 50vh;
    word-break: break-word;
    overflow: auto;
}

.note__view h1 {
    text-align: center;
    font-size: var(--font-size-secondary-header);
}

.selected{
    background-color: var(--light-yellow);
}

.note__text {
    white-space: pre-line;
}

.aside-menu_button_close{
    display: inline-block;
    width: 30px;
    aspect-ratio: 1;
    background: url(../icons/icons8-menu.svg) center/cover no-repeat;
    cursor: pointer;
}







@media screen and (max-width:768px) {
    .button__clear--notes {
        float: initial;
    }

    .notes-wrapper {
        justify-content: center;
    }

    #select-theme {
        align-self: center;
        margin-left: 0px;
    }
}