*[theme="dark"] {
    background-color: #000000;
    color: white;
}

.modal-content--create-note input[theme="dark"],
.modal-content--create-note textarea[theme="dark"],
.modal-content--edit-note input[theme="dark"],
.modal-content--edit-note textarea[theme="dark"] {
    background-color: #000000e7;
    border-bottom: 2px solid white;
}

.notes__card[theme='dark'] {
    background-color:#ddd6d62b;
}

#select-theme[theme='dark'],
.notes__card[theme='dark'],.button__create--note[theme='dark'] {
    background-color: #1b1b1b;
}

.close[theme='dark'] {
    background: url(../icons/icons8-menu.svg) center/cover no-repeat;
}

.aside-menu[theme='dark'] > *:hover{
    border-color: white;
}

.aside-menu[theme='dark']{
    background-color: #ddd6d62b
}

.aside-menu_button_close[theme='dark']{
    background: url(../icons/burger-menu-white.svg) center/cover no-repeat;
}

.search-results[theme='dark'] li:hover {
    background-color: #f0f0f011;
}

.button__clear--notes[theme='dark']::before{
    background:url(../icons/delete-white.svg) center/cover no-repeat;
}

.button__create--note[theme='dark']::before {
    background:url(../icons/add-white.svg) center/cover no-repeat; 
}

.button__clear--notes{
background-color: transparent;
}