*[theme="dark"] {
    background-color: #000000;
    color: white;
}

.modal-content--create-note input[theme="dark"],
.modal-content--create-note textarea[theme="dark"],
.modal-content--edit-note input[theme="dark"],
.modal-content--edit-note textarea[theme="dark"] {
    background-color: #000000e7;
    border-bottom: 2px solid white;
}

.notes__card[theme='dark'] {
    border-color: rgba(255, 255, 255, 0.274);
}

body[theme='dark'],
.notes__card[theme='dark'] {
    background-color: #1b1b1b;
}

.close[theme='dark'] {
    color: white;
}